<%= render "transactions/header" %>
<h3 class="d-flex justify-content-center">
total amount is 
 <%= @transactions.sum(:amount) %>$
</h3>


<% @transactions.each do |transaction| %>
  <div class= "d-flex justify-content-center">

  <div class="card d-flex" style="width: 25rem;">
  <div class="card-body d-flex flex-row justify-content-between">  
     <h5 class="card-title">  <%= transaction.name %> </h5>
    <div class="d-flex flex-column justify-content-between mx-2">
           <h6 class="card-text  "> <%= transaction.amount %> $ </h6>
           
            <%= button_to 'Delete', category_transaction_path(transaction.category, transaction), method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %>
   </div>
  
  </div>
</div>

</div>
   
  
<% end %>


<br />
<div class="d-flex justify-content-center">

   <%= link_to 'New Transaction', new_category_transaction_path(params[:category_id]) , class: "btn btn-success" %>
</div>



