<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @transaction.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>Category:</b>
  <%= @transaction.category %>
</p>

<p>
  <b>User:</b>
  <%= @transaction.user %>
</p>


<%= link_to 'Edit', edit_category_transaction_path(@transaction.category, @transaction) %> |
<%= link_to 'Back', category_transactions_path(@transaction.category) %>
